/* File created by Annika on 11/1  */
h3 {
    color: black;
    font-size: 70px;
    text-decoration-line: underline;
    text-decoration-color: #ccc1e8;
    font-family: 'Dancing Script', cursive;
   
}
 
h2 {
    color: black;
    background-color: #f6f5ff;
      font-family: 'Dancing Script', cursive;
}
 
 
   /* Search "hex color picker" in Google to pick a color by hex value */
h5{
    color: black;
    font-family: 'Montserrat', sans-serif;
}
.names{  
    color: black;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}   
h4{
    font-family: 'Dancing Script', cursive;
    font-size: 45px; 
    text-decoration: none;
    border-radius: 25px;
    background-color: #f6f5ffa6;
    margin: 30;
}
 
 body {
    text-align: center;
    background-color: #e8e6ff;
  
} 
     /* changed headers to smaller fonts and ajusted pictures by annika on 11/15 */
   
table { 
    text-align: center; 
}

   
#navbar{
    font-size: 30px;
    margin-left: 40px;
    margin-right: 40px;
    text-align: center;
    list-style-type: disc;
    height: 60px; 
    font-family: 'Dancing Script', cursive;
    border-radius: 25px;
    position: inherit;
    background-color: #f6f5ffc2;
  }


.Logo{
margin-bottom: 20;
margin-top: 20;
}

iframe{
    border-style: double;
    border-color: #ccc1e8;
    border-width: 5px;
    }
#product{
    position: absolute;
    width: 90%;
}

img{
border-style: double;
border-color: #ccc1e8;
border-width: 5px;
}
li{
    list-style: none;
    text-align: center;
    color: #003366;
    position: absolute;
    font-family: 'Dancing Script', cursive;
    margin-top: 10;
}
td{
margin: 10;
}
#index{
   left: 350;
}
#company{
    right: 350;
}
li:hover{
   color: #f6f5ffc2;
    
}
.transparent{
    width: 33%;
    opacity: 85%;
    border-style: none;
    margin-top: 30;
    border-radius: 10;
}
th{
    color: black;
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
}
a{
    color: black;
    text-decoration: none;
}
a:hover{
    color: rgb(138, 138, 138);
}
.header1{
    background-color: #f6f5ff;
    text-decoration:none;
    border-style: none;
    border-radius: 25px;
    margin: 30;
}
#ourteam{
    background-color: #f8e2ffa1;
    text-decoration: none;
    border-radius: 25px;
}
#center{
    text-align: center;
}
iframe{
    border-radius: 25px;
    margin-top: 10;
}
.teampics{
    border-radius: 15px;
}
img{
    border-radius: 25px;
    border-style: none;
}.intro{
    font-size: medium;
    margin: 10;
}
p{
    font-family: 'Montserrat', sans-serif
}
li{
    object-position: center;
}
h1{
    font-family: 'Dancing Script', cursive;
}
